#deckgl-wrapper {
  width: 100%;
  height: 100%;
  position: relative !important;
}

#deckgl-overlay {
  width: 100%;
  height: 100%;
  position: relative !important;
}

/* .mapboxgl-canvas-container.mapboxgl-interactive,
.mapboxgl-canvas-container.mapboxgl-interactive:active {
  cursor: crosshair !important;
} */
